body {
  margin: 0;
  background: #1e1e1e;
  font-family: monospace;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 10px 20px;
}

button {
  background: #00ff88;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 5px;
}

.editor-container {
  display: flex;
  flex: 1;
  height: 60%;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #333;
}

.panel h3 {
  margin: 0;
  padding: 8px;
  background: #252526;
  font-size: 14px;
}

textarea {
  flex: 1;
  background: #1e1e1e;
  color: #00ff88;
  border: none;
  resize: none;
  padding: 10px;
  outline: none;
  font-size: 14px;
}

#iframe {
  width: 100%;
  height: 100%;
}

#outputContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  background: #111827;
  z-index: 9999;
}

#outputContainer iframe {
  flex: 1;
  border: none;
}

#outputContainer button {
  align-self: flex-end;
  margin: 10px;
  background: crimson;
  color: white;
}